@import url('https://fonts.googleapis.com/css?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

#app {
  width: 800px;
  margin: 100px auto;
  font-family: Montserrat;
}

